body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f10b0b;
  }
  .container {
    background-color: oldlace;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 15px black;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .password-box {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  